@import "variables";
@import "cols";
@import "content";
@import "keyframes";


.row {
  font-family: $fontFamily;
  color: #ffffff;
  text-align: center;

    .col h1{
      font-size: 3.5vw;
      font-weight: normal;
    }

}


  
  
 
  